header {
  background-color: #8b80f9;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
}

header h1 {
  color: #fff;
  display: flex;
  align-items: center;
}

header h1 img {
  height: 50px;
  margin-right: 10px;
}

header nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-right: 20px;
}

header nav a {
  color: #fff;
  text-decoration: none;
}
section {
  display: flex;
  align-items: center;
}

section img {
  max-width: 100%; /* Pour s'assurer que l'image ne dépasse pas de la section */
  margin-right: 20px; /* Marge à droite de l'image pour créer de l'espace entre l'image et le texte */
}

section p {
  flex: 1; /* Pour que le paragraphe occupe tout l'espace restant à droite de l'image */
}
  